@charset "UTF-8";

/* body {
	background-image:url("https://picsum.photos/800");
	background-repeat: no-repeat;
	background-color: #F9C5D5;
	
	
}
h3{
	color: red; 
}
table{
	background-color: yellow;
} */
.insertVal {
	display: block; 
	margin: 0 auto;
}
/* .button{
	background-color: white;
  color: black;
  border: 2px solid #4CAF50; Green
} 
 */